/*background image for our application*/
body{
    background: linear-gradient(mintcream, grey);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    display:block;
    justify-content: center;
    min-height: none;
}
/*pokedex title name to help put it to the middle*/
#pokedexTitle{
    display:flex;
    margin: 0 auto;
}
/* pokedex title */
#dex{                                   
    background-color: brown;
    text-align: center;
    font-size: 80px;
    color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
    display:flex;
    
}
/* Area in which we will allow the user to enter their wanted pokemon and also 
   a random pokemon selection as well */
#searchArea{
    text-align: center;
    display: inline-flex;
    justify-content: center;
    background: linear-gradient(mintcream, aliceblue);
    min-width: 100px;
    min-height: 150px;
    max-height: 160px;
    border: 8px solid;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    position: sticky;
    top:0;
}
/* Pokedex naming */
#insideSearchName{
    background-color: brown;
    height: 55px;
    width: 200px;
    font-size: 48px;
    color: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin: 1%;
    justify-content: center;
    
}
/* search box for user input */
#searchBox{
    justify-content: center;
    text-align: left;
    margin: 1%;
    height: 65px;
    width: 455px;
    font-size: 48px;
    position:sticky;
    border-radius: 10px;
}
/* search button */
#searchButton{
    justify-content: center;
    margin: 1%;
    height: 60px;
    width: 80px;
    font-size: 16px;
    position:sticky;
    border-radius: 10px;
    text-align: center;
}
/* button to select a pokemon at random */
#randomButton{
    justify-content: center;
    margin: 1%;
    height: 60px;
    width: 115px;
    font-size: 16px;
    position:sticky;
    border-radius: 10px;
}
/*container for where our pokemon will be displayed*/
.pokedexContainer{
    background-color: brown;
    min-height: 200vh;
    max-height: min-content;
    margin-left: 3%;
    margin-right: 3%;
    border: 7px solid;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
}
#textToUser{
    border: solid;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin: 1%;
    max-height: 245px;
    min-width: 810px;
    /* max-width: 810px; */
}
/* pokedex list area */
#pokedex{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* giving each pokemon a background to be displayed in */
.pokedexContainer li {
    background: linear-gradient(mintcream, grey);
    padding: 20px;
    margin: 12px;
    border: 2px solid;
    border-radius: 10px; 
    list-style-type: none; 
    transition: transform 0.0s ease-in, box-shadow 0.3s ease, transform 0.2 ease-out;
    text-align: center;
    
  }
  
  /* Ensure the images fit within their container */
  .pokedexContainer img {
    max-width: 100%;
    height: auto;
    display: block;
  }
/* adding a hover effect to each pokemon item */
.pokedexContainer li:hover{
    transform: scale(1.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
/* adding a hover indicatior for each button */
.button:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}